p{
    background-color: orchid;
    text-align: center;
    color: aliceblue;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 100px;

}